<footer [class.padding]="this.router.url=='/home'" class="new_footer_area bg_color">
  <div class="new_footer_top">
    <div class="container">
      <div class="row">
        <div id="text-3" class="widget footer-widget col-lg-4 col-md-6 widget_text">
          <div class="f_widget about-widget">
            <div class="textwidget">
              <p><strong>Contact Me</strong></p>
              <p>Address : Sector 21,</p>
              <p>PIN 122021, Gurugram</p>
              <p>Haryana, India</p>
              <p>Phone&nbsp; &nbsp; : 90230-29150 or 70092-69255</p>
              <div class="elementor-element elementor-element-fa2cf48 elementor-widget elementor-widget-text-editor"
                data-id="fa2cf48" data-element_type="widget" data-widget_type="text-editor.default">
                <div class="elementor-widget-container">
                  <div class="elementor-text-editor elementor-clearfix">
                    <p>Email&nbsp; &nbsp; &nbsp;: sarthak.tiet@gmail.com</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="text-5" class="widget footer-widget col-lg-4 col-md-6 widget_text">
          <div class="f_widget about-widget pl_70">
            <div class="textwidget">
              <p><strong>Menu</strong></p>
              <p><a href="/home">Home</a></p>
              <p><a href="/home">Services</a></p>
              <p><a href="/home">Contact us</a></p>
              <p><a href="/home">Privacy Policy</a></p>
              <p><a href="/home">Terms &amp; Conditions</a></p>
              <p>&nbsp;</p>
            </div>
          </div>
        </div>
        <div id="text-1" class="widget footer-widget col-lg-4 col-md-6 widget_text">
          <div class="f_widget about-widget pl_70">
            <div class="textwidget">
              <p>
                <strong>Sarthak</strong><br />
                A Front-end web developer with more than 2 years of IT experience in software development. A
                collaborative developer with experience and knowledge of Finance and Ecommerce industry.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer_bg" style=" overflow: hidden;">
      <div class="footer_bg_kangroo"></div>
      <div class="footer_bg_balloon"></div>
      <div class="footer_bg_one"></div>
      <div class="footer_bg_two"></div>
    </div>
  </div>
  <div class="footer_bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-sm-7">
          <p>
            © Sarthak Bansal.
            <a href="mailto:sarthak.tiet@gmail.com">sarthak.tiet@gmail.com</a>
            Feel free to contact.
          </p>
        </div>
        <div class="col-lg-6 col-sm-5 text-right"></div>
      </div>
    </div>
  </div>
</footer>
