/* You can add global styles to this file, and also import other style files */
/* @import "~@fortawesome/fontawesome-free/css/all.css"; */

/* @import "~bootstrap/dist/css/bootstrap.css"; */
html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  margin: 0;
  /* background-image: url("https://image.ibb.co/fqkgMw/dust_scratches.png"); */
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 22px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
